.text {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}

.aboutGTtitle {
  color: #ff00b3;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.aboutGTimg {
  display: block;
  margin: 0 auto;
}

.main {
  margin-bottom: 100px;
}

/* tab bar */
.icon-bar {
  width: 100%; /* Full-width */
  background-color: #ff00b3; /* Dark-grey background */
  overflow: hidden; /* Overflow due to float */
  bottom: 0;
  position: fixed;
}

.icon-bar a {
  float: left; /* Float links side by side */
  display: block;
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #ecb1db; /* Add a hover color */
}
